<h1>WordPress Clone</h1>

<h2>Create new post</h2>


<% if @post.errors.any? %>
  <ul class="errors">
    <% @post.errors.full_messages.each do |err| %>
      <li>
        <%= err %>
      </li>
    <% end %>
  </ul>
<% end %>


<%= form_for(@post) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.label :publish_date %>
    <%= f.date_field :publish_date %>
  </div>

  <div>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div>
    <%= f.label :image %>
    <%= f.url_field :image  %>
  </div>

  <div>
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <button type="submit">
    Create post
  </button>
<% end %>
